* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: linear-gradient(to right, #141e30, #243b55);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p,
small {
  font-size: 25px;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
}
header {
  margin-top: 50px;
}

.navbar {
  margin: 40px 0px 40px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.navbar li {
  float: left;
  padding: 15px;
  margin: 3px;
}
.navbar li a {
  font-size: 30px;
  border-radius: 20px;
  border: 2px solid white;
  color: White;
  background-color: transparent;
  text-align: center;
  width: 150px;
  padding: 15px 10px 15px 10px;
  letter-spacing: 2px;
  font-weight: bolder;
}

.navbar a:hover {
  background-color: white;
  color: black;
  transition: 400ms;
}

.navbar a:active {
  background-color: white;
  color: black;
  transition: 400ms;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 35px 0px 35px;
}
#search {
  width: 100%;
  height: 70px;
  font-size: 35px;

  padding: 20px;
}

.movie-list {
  display: flex;
  justify-content: center;
  flex: 1;
  column-gap: 10px;
  row-gap: 30px;
  margin-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-item {
  margin: 25px 10px 45px 10px;
  font-size: 30px;
  width: 300px;
  height: 470px;
}
.movie-name {
  width: 100%;
}
.movie-item img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.footer {
  background: url("./assets/zmovie-footer.jpg");
  text-align: center;
  height: 300px;
  color: white;
  font-size: 25px;
  padding-top: 35px;
}

.smovie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 60px 0px 0px 60px;
}
h1 {
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}

.smovie-right h1 {
  text-align: left;
}

.smovie-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  padding: 20px;
}

.smovie-left {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
}

.smovie-img {
  width: 100%;
  height: 100%;
}

.imdb-rating {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 10px;
}
.imdb-rating svg {
  color: #f3ce13;
}

.smovie-footer {
  display: flex;
  flex-direction: row;
}

.btn-back {
  border-radius: 20px;
  border: 2px solid white;
  color: White;
  background-color: transparent;
  text-align: center;
  width: 150px;
  padding: 15px 10px 15px 10px;
  letter-spacing: 2px;
  font-weight: bolder;
  text-transform: uppercase;
}

.btn-back:hover {
  background-color: white;
  color: black;
  transition: 400ms;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.about {
  margin: 150px 50px 150px 50px;
}
.about p {
  margin-top: 50px;
  margin-bottom: 20px;
}
